---
import '@/feature/style/global/index.scss'

import { ThemeScript } from '@/feature/theme'

type Props = {
	lang?: string
}

const { props } = Astro

const DEFAAULT_LANG = 'ja'

// bodyのonclickはiOSでドロップダウン等のフォーカスが外れない問題の対策です
---

<html lang={props.lang ?? DEFAAULT_LANG}>
	<head>
		<slot name="head" />
		<ThemeScript />
	</head>
	<body
		class="flex min-h-dvh flex-col overflow-y-scroll underline-offset-4"
		onclick="document.querySelector('body').focus()"
	>
		<slot />
	</body>
</html>
