---
// TODO: Qwikのバグ的な挙動の対策としてAstroコンポーネントで実装しています

import { globalNavigationContents } from "@/feature/content"
---

<div class="flex flex-row flex-wrap gap-x-12 gap-y-0">
  {
    globalNavigationContents.map((nav) => (
      <div>
        <h2>{nav.name}</h2>
        <ul>
          {nav.contents.map((content) => (
            <li>
              <content.Link class="link w-full inline-block">
                {content.name}
              </content.Link>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
